body{
  background-color: $mainBGcolor;
}

.container{
  
}

.background{
  background-image: url(/img/Extreme_Jam_logo.png);
  background-repeat: no-repeat;
  background-size:75%;
  background-position: center;
  background-attachment: fixed;
  opacity: 15%;
  min-height: 100vh;
}

@media (max-width: 500px) {
   .background{
    background-repeat: repeat-y;
   }     
  }

