.navigation-sidebar {
  height: 100dvh;
  width: max(60px, 6%);
  background-color: #343434;
  position: fixed;
  position: absolute;
}

.main {
  background-image: url(/public/img/IMG_@karokrasinska_-44.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 75dvh;

  & .container {
    display: block;
    display: flex;
    justify-content: space-between;
  }

  & &__description {
    padding-top: 80px;
    color: $mainBanerColor;
    width: 60%;
  }

  & &__data-place {
    margin-top: 200px;
    background-color: #ffffff;
    width: 250px;
    height: 150px;
    border-radius: 25px;
  }
}